@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {}

@layer components {
  .h1 {
    @apply text-5xl font-bold font-Nunito;
  }

  .h2 {
    @apply text-[42px] font-bold leading-[44px] font-Nunito;
  }

  .h3 {
    @apply text-lg md:text-4xl font-normal font-Nunito;
  }

  .h4 {
    @apply text-2xl font-normal font-Nunito;
  }

  .h5 {
    @apply text-lg font-semibold font-Nunito;
  }

  .para {
    @apply text-lg md:text-2xl font-medium font-Nunito;
  }

  .body_3 {
    @apply text-base md:text-2xl font-normal md:font-medium font-Nunito;
  }

  .body3_b {
    @apply text-base font-bold font-Nunito;
  }

  .body_2 {
    @apply text-base md:text-2xl font-normal md:font-medium md:leading-7 font-Nunito;
  }

  .body_1 {
    @apply text-2xl leading-7 font-medium font-Nunito;
  }

  .body1_b {
    @apply text-lg md:text-2xl md:leading-7 font-bold font-Nunito;
  }

  .button_text {
    @apply text-lg font-bold font-Nunito;
  }

  .button_1 {
    @apply px-8 py-4 rounded-full text-lg font-bold font-Nunito;
  }

  .text-grad {
    @apply bg-grad_1 w-fit text-transparent bg-clip-text;
  }
}

@keyframes scrollText {
  to {
    transform: translateX(-50%);
  }
}

.shadow {}

.scrollText {
  animation: scrollText 15s linear infinite;
}

.btn_lnrbg::after {
  content: '';
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to right, #F8BF3B 0%, #FF8B13 31%, #EF5F3D 100%);
  z-index: -1;
}

.btn_lnrbg:hover {
  z-index: 0;
}