@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
}

@layer components {
  .h1 {
    @apply font-Nunito text-5xl font-bold;
  }

  .h2 {
    @apply font-Nunito text-[42px] font-bold leading-[44px];
  }

  .h3 {
    @apply font-Nunito text-lg font-normal md:text-4xl;
  }

  .h4 {
    @apply font-Nunito text-2xl font-normal;
  }

  .h5 {
    @apply font-Nunito text-lg font-semibold;
  }
  .h5_b {
    @apply font-Nunito text-lg font-bold;
  }
  .para {
    @apply font-Nunito text-lg font-medium;
  }

  .body_3 {
    @apply font-Nunito text-base font-normal;
  }

  .body3_b {
    @apply font-Nunito text-base font-bold;
  }

  .body_2 {
    @apply font-Nunito text-base font-normal md:text-2xl md:font-medium md:leading-7;
  }

  .body_1 {
    @apply font-Nunito text-2xl font-medium leading-7;
  }
  .body_4 {
    @apply font-Nunito text-sm font-normal;
  }

  .body_5 {
    @apply font-Nunito text-xs font-normal;
  }

  .body1_b {
    @apply font-Nunito text-lg font-bold md:text-2xl md:leading-7;
  }

  .button_text {
    @apply font-Nunito text-lg font-bold;
  }

  .button_1 {
    @apply rounded-full px-8 py-4 font-Nunito text-lg font-bold;
  }

  .text-grad {
    @apply w-fit bg-grad_1 bg-clip-text text-transparent;
  }
}

@keyframes scrollText {
  to {
    transform: translateX(-50%);
  }
}

.shadow {
}

.scrollText {
  animation: scrollText 15s linear infinite;
}

.btn_lnrbg::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(
    to right,
    #f8bf3b 0%,
    #ff8b13 31%,
    #ef5f3d 100%
  );
  z-index: -1;
}

.btn_lnrbg:hover {
  z-index: 0;
}

.block-1 {
  opacity: 0;
  animation: fadeInOutb1 5s forwards infinite;
}

.block-2 {
  opacity: 0;
  animation: fadeInOutb2 5s 2s forwards infinite;
}

.block-3 {
  opacity: 0;
  animation: fadeInOutb3 5s 3s forwards infinite;
}

@keyframes fadeInOutb1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOutb2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOutb3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
